/* unvisited link */
a:link {
    color: initial;
}

/* visited link */
a:visited {
    color: initial;
}

/* mouse over link */
a:hover {
    color: initial;
}

/* selected link */
a:active {
    color: initial;
}

a{
	text-decoration: none;
}
h3{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 15.0px;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.020em;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
p{
	margin: 0px;
}
sub{
	vertical-align: -10%;
	font-size: 67%;
}
sup{
	vertical-align: 33%;
	font-size: 67%;
}
td{
	overflow: hidden;
}
.p1{
	font-style: normal;
	font-weight: 300;
	font-size: 48.0px;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-decoration: none;
	text-align: center;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
.p2{
	font-size: 44.0px;
	text-align: left;
}
.p3{
	font-style: normal;
	font-weight: 400;
	font-size: 16.0px;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-decoration: none;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
.p4{
	font-weight: 700;
	font-size: 10.0px;
}
.p5{
	font-size: 19.0px;
}
.p6{
	font-weight: 700;
	font-size: 19.0px;
}
.p7{
	font-weight: 500;
	font-size: 24.0px;
	text-align: left;
}
.p8{
	font-size: 22.8px;
}
.p9{
	font-style: normal;
	font-weight: 400;
	font-size: 19.0px;
	font-family: "Courier New";
	color: #000000;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-decoration: none;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
.p10{
	font-size: 18.0px;
}
.p11{
	font-size: 10.0px;
}
.p12{
	font-style: normal;
	font-weight: 400;
	font-size: 19.0px;
	font-family: "Courier New";
	color: #000000;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
.p13{
	font-style: normal;
	font-weight: 400;
	font-size: 11.0px;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-decoration: none;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
.p14{
	font-size: 13.0px;
	font-family: "Helvetica";
	color: #757575;
}
.p15{
	font-style: normal;
	font-weight: 400;
	font-size: 13.0px;
	font-family: "Helvetica";
	color: #757575;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
.c1{
	font-size: 1px;
}
.c2{
	font-size: 10.0px;
	background: transparent;
}
.c3{
	font-size: 19.0px;
	background: transparent;
}
.c4{
	font-size: 19.0px;
	background: transparent;
	text-decoration: underline;
}
.c5{
	color: #000000;
}
.c6{
	font-style: italic;
	font-weight: 400;
	font-family: "Helvetica Neue";
}
.c7{
	font-style: normal;
	font-weight: 400;
	font-family: "Courier";
}
.c8{
	vertical-align: -1.6px;
	font-style: normal;
	font-weight: 400;
	font-size: 22.8px;
	font-family: "Helvetica Neue";
	color: #000000;
	font-variant: normal;
	text-shadow: none;
}
.c9{
	vertical-align: 0.4px;
	font-style: normal;
	font-weight: 400;
	font-size: 22.8px;
	font-family: "Helvetica Neue";
	color: #000000;
	font-variant: normal;
	text-shadow: none;
}
.c10{
	font-style: normal;
	font-weight: 400;
	font-family: "Courier New";
}
.c11{
	vertical-align: -2.5px;
	font-style: normal;
	font-weight: 400;
	font-size: 22.8px;
	font-family: "Helvetica Neue";
	color: #000000;
	font-variant: normal;
	text-shadow: none;
}
.c12{
	font-size: 18.0px;
	background: transparent;
}
.c13{
	font-style: normal;
	font-weight: 400;
	font-size: 18.0px;
	font-family: "Courier New";
	background: transparent;
}
.c14{
	vertical-align: 1.4px;
	font-style: normal;
	font-weight: 400;
	font-size: 19.0px;
	font-family: "Helvetica Neue";
	color: #000000;
	font-variant: normal;
	text-shadow: none;
}
.c15{
	color: #0076BA;
}
.c16{
	vertical-align: -1.2px;
	font-style: normal;
	font-weight: 400;
	font-size: 22.8px;
	font-family: "Helvetica Neue";
	color: #000000;
	font-variant: normal;
	text-shadow: none;
}
.c17{
	font-style: normal;
	font-weight: 700;
	font-family: "Helvetica Neue";
}
.c18{
	vertical-align: 0.8px;
	font-style: normal;
	font-weight: 400;
	font-size: 22.8px;
	font-family: "Helvetica Neue";
	color: #000000;
	font-variant: normal;
	text-shadow: none;
}
.c19{
	vertical-align: 1.8px;
	font-style: normal;
	font-weight: 400;
	font-size: 19.0px;
	font-family: "Helvetica Neue";
	color: #000000;
	font-variant: normal;
	text-shadow: none;
}
.c20{
	font-size: 13.0px;
	background: transparent;
}
.c21{
	color: #1A73E8;
}
.c22{
	font-size: 13.0px;
	background: transparent;
	text-decoration: underline;
}
.c23{
	color: #00A2FF;
}
.li1{
	list-style-type: decimal;
	list-style-position: inside;
}
.b1:before{
	margin-left: -0.3em;
	font-style: normal;
	font-weight: 400;
	font-size: 19.0px;
	font-family: "Helvetica Neue";
	color: #000000;
	font-variant: normal;
	content: "";
	text-shadow: none;
}
